<app-header titulo="Alert" ></app-header>

<ion-content>

    <ion-button (click)="presentAlert()" expand="block">
      Click me
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
      presentAlertMultipleButtons
    </ion-button>

    <ion-button (click)="presentAlertConfirm()" expand="block">
      present Alert Confirm
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block">
      present Alert Prompt
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block">
      presentAlertRadio
    </ion-button>

</ion-content>
